In [1]:
from eda import *

==================Exploratory Data Analysis==================

Importing the dataset...
          Attr1    Attr2     Attr3    Attr4     Attr5     Attr6     Attr7  \
0      0.824618  2.27462  0.869570   7.1011 -122.5510  2.311830  1.021850
1      0.251801  2.50297  1.443380   8.2638   -6.6983  0.000607  0.338228
2      0.707843  1.67865  2.526030  14.7833  401.2407  0.542450  0.881417
3      0.379978  2.71058  1.361734   8.7516  -83.2420  1.150333  0.449089
4      0.399152  2.65700  1.227570   7.7936  -82.1588  0.375220  0.478330
...         ...      ...       ...      ...       ...       ...       ...
10498       NaN      NaN       NaN      NaN       NaN       NaN       NaN
10499       NaN      NaN       NaN      NaN       NaN       NaN       NaN
10500       NaN      NaN       NaN      NaN       NaN       NaN       NaN
10501       NaN      NaN       NaN      NaN       NaN       NaN       NaN
10502       NaN      NaN       NaN      NaN       NaN       NaN       NaN

          Attr8    Attr9   Attr10  ...    Attr56    Attr57   Attr58    Attr59  \
0       4.77763  5.69730  2.09914  ...  0.607705  1.937870  4.39230  0.005616
1       5.07291  6.19506  2.49479  ...  0.152313  0.516314  4.69363  0.302630
2      11.68785  6.19180  3.03235  ...  0.592015  1.484251  4.39624  0.694840
3       5.22694  5.82190  2.16194  ...  0.917463  0.328095  4.17186  3.579264
4       4.66114  6.85780  2.24506  ...  1.092850  0.712740  3.93227  0.336859
...         ...      ...      ...  ...       ...       ...      ...       ...
10498       NaN      NaN      NaN  ...       NaN       NaN      NaN       NaN
10499       NaN      NaN      NaN  ...       NaN       NaN      NaN       NaN
10500       NaN      NaN      NaN  ...       NaN       NaN      NaN       NaN
10501       NaN      NaN      NaN  ...       NaN       NaN      NaN       NaN
10502       NaN      NaN      NaN  ...       NaN       NaN      NaN       NaN

        Attr60    Attr61    Attr62    Attr63   Attr64     class
0      41.7431  26.30970   537.259  17.73730  23.1215  b'00000'
1      23.1870  14.75435  1044.310  14.45689  75.0176  b'00000'
2      31.9980  17.30950   411.938  23.84460  67.5325  b'00000'
3      27.8249  21.28930   563.537  17.08710  22.6190  b'00000'
4      43.6122  22.28090   569.628  16.52070  36.9211  b'00000'
...        ...       ...       ...       ...      ...       ...
10498      NaN       NaN       NaN       NaN      NaN       NaN
10499      NaN       NaN       NaN       NaN      NaN       NaN
10500      NaN       NaN       NaN       NaN      NaN       NaN
10501      NaN       NaN       NaN       NaN      NaN       NaN
10502      NaN       NaN       NaN       NaN      NaN       NaN

[10503 rows x 65 columns]

==================Columns and their datatypes==================

Attr1     float64
Attr2     float64
Attr3     float64
Attr4     float64
Attr5     float64
           ...
Attr61    float64
Attr62    float64
Attr63    float64
Attr64    float64
class      object
Length: 65, dtype: object

==================Checking for null values==================

Attr1     4600
Attr2     4600
Attr3     4600
Attr4     4682
Attr5     4656
          ...
Attr61    4662
Attr62    4661
Attr63    4682
Attr64    5122
class     4593
Length: 65, dtype: int64

Dropping null values from class variable...


==================Columns and their datatypes, updated==================

Attr1     float64
Attr2     float64
Attr3     float64
Attr4     float64
Attr5     float64
           ...
Attr61    float64
Attr62    float64
Attr63    float64
Attr64    float64
class       int64
Length: 65, dtype: object

==================Checking for null values==================

Attr1       7
Attr2       7
Attr3       7
Attr4      89
Attr5      63
         ...
Attr61     69
Attr62     68
Attr63     89
Attr64    529
class       0
Length: 65, dtype: int64

==================Checking for rows with all null values==================

0

==================Value Counts for Class Column==================

0    5500
1     410
Name: class, dtype: int64
df size:  (5910, 65)